extends layout
block content
  //render object will contain:
  //  title
  //  chapter 
  //  page
  //  description
  //  img source
  //  img source for next page
  //  img source for prev page
  //  #{title} #{author} #{description} #{chapter} #{pagesrc}
  div.container
    h3.text-center #{title}
    h4.text-center #{chapter}
      div.row
        //I have to render options in the select tags
        div.col-sm-6.col-xs-6   
        div.col-sm-6.col-xs-6
      hr
      //gotta render the actual comic page here and link it to the next page
      if next
        a(id="view" href=next)
          img(src=pagesrc).img-responsive.center-block
      else
        a(id="view" href="#")
          img(src=pagesrc).img-responsive.center-block
      hr 
      div.row
        //must add the link functionality here from render.js
        div(class="col-sm-6 col-xs-6")
          if prev
            a(href=prevpage class="btn btn-info") Previous Page
        div(class="col-sm-6 col-xs-6")
          if next
            a(href=nextpage).btn.btn-info Next Page
            